html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
  }

  .message{
    width: 100%;
    height: 9vh;
    background: #F26101;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.8;
    }
  }

  .grad1 {
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #114455 ,#490058); /* Standard syntax (must be last) */
  }